@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

input {
  border: 1px solid gray;
  border-radius: 7px;
}

input::placeholder {
  color: #cbbba7;
}

input[type="text"],
[type="password"] {
  width: 100%;
  border: 2px solid;
  padding: 0.4rem;
  outline: none;
  border-radius: 7px;
}

body {
  background-color: #000000;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  color: #cbbba7;
}

header {
  text-align: center;
  padding: 2rem;
  border: 0.35rem solid;
  outline: none;
  border-radius: 0.3cm;
}

h2 {
  padding: 0%;
  border-radius: 0%;
}

main {
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input [type="text"] {
  width: 100%;
}

select {
  cursor: pointer;
  border: 1.5px solid;
  border-radius: 5px;
}

img {
  width: 5rem;
}

table {
  overflow: hidden;
  border: 0.4rem solid;
  /* border-collapse:collapse ; */
  border-spacing: 0px;
  border-radius: 6px;

}

th,
td {
  border: 0.1rem solid;
  overflow: hidden;
  padding: 2px;
  padding-right: 7px;
}


.teste {
  color: black;
}

.corzinha_bonitinha {
  /* background-color: #239B56; */
  /* background-color: #7DCEA0; */
  background-color: #57c992;
}


/* .tabela_tags{
  background-image: url(../assets/background.jpg) ;
} */


.paginainicial {

  
  background-color: antiquewhite;
  /* padding: 10px; */
  /* padding-left: 3rem; */
  width:20rem;
  border: rgb(77, 77, 77) solid;
  border-radius: 10px;
  text-align: center;
  margin-left: 2rem;
  margin-top: 2rem;
}