.modo-escuro {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}

.modo-claro {
    background-color: rgb(255, 255, 255);
    color: black;
    
}

.interruptor {
    position: fixed;
    top: 5px;
    right: 10px;
    display: inline-block;
    z-index: 1000;
    cursor: pointer;
    padding: 10px;

}

.home {
    position: fixed;
    top: 5px;
    left: 10px;
    display: inline-block;
    z-index: 1000;
    cursor: pointer;
    padding: 10px;
    /* color:white; */
    text-decoration: none;
    color:inherit;
}

.modo-escuro input {
    background-color: #bcbcbc;
}


