.modo-escuro {
    background-color: black;
  color:aliceblue;
}

.modo-claro {
    background-color: rgb(255, 255, 255);
    color: black;
}

.interruptor {
    position: fixed;
    top: 5px;
    right: 10px;
    display: inline-block;
    z-index: 1000;
    cursor: pointer;
    padding: 10px;

}