body {

    margin: 0
}

header {

    background-color: #2596be;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}


header h1 {
    width: 100%;
    text-align: center;
}


header input {
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 60%;
    font-size: 18px;
}

header span {
    padding-left: 10px;
    font-size: 25px;
    cursor: pointer;
}


ul {
    padding: 0; 
    margin: 0;  

}

/* LIST ITEM */
ul li { 

cursor: pointer;
padding: 10px 15px;
list-style-type: none;
font-size: 17px;
display: flex;
transition: 0.7s;
align-items:center;
margin: 0;
/* border-bottom: 1px solid #ccc; */
}


ul li:nth-child(even) {
    background-color: #2595be57;
}

ul li:hover {
    background-color: #2595be9b;
}


ul li span {
    flex: 1;
    overflow-wrap: anywhere;
    margin: 0 10px;
    line-height: 1.4;
}

ul li i {
    width: 25px;
    text-align: center;
    padding-right: 1000px;

}