body {

    margin: 0
}

header {

    /* background-color: #2596be; */
    background-color: #41007f;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}


header h1 {
    width: 100%;
    text-align: center;
}


header input {
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 60%;
    font-size: 18px;
}

header span {
    padding-left: 10px;
    font-size: 25px;
    /* cursor: pointer; */
}


ul {
    padding: 0;
    margin: 0;

}

/* LIST ITEM */
ul li {

    /* cursor: pointer; */
    padding: 10px 15px;
    list-style-type: none;
    font-size: 17px;
    display: flex;
    transition: 0.5s;
    align-items: center;
    margin: 0;
    /* border-bottom: 0.01rem solid #ccc; */
    position: relative;
}


.modo-claro ul li:nth-child(even) {
    background-color: #e0e0e0;
}

.modo-escuro ul li:nth-child(even) {
    position: relative;
    z-index: 1;
    background-color: #1d1d1d2d;
}

ul li:hover {
    background-color: #878787;
    z-index: 100;
}


ul li span {
    flex: 1;
    overflow-wrap: anywhere;
    margin: 0 10px;
    line-height: 1.4;
}

ul li i {
    width: 25px;
    text-align: center;
    padding-right: 1000px;
position: relative;
}


.butao {
    font-size: large;
    padding: 1em;
    margin: -1em;
}

.adicionador {
    cursor: pointer;
}