.modo-escuro {
    background-color: rgb(0, 0, 0);
    color: #ebebeb;
}

.modo-claro {
    background-color: rgb(255, 255, 255);
color: black;

}

.modo-claro ul li {
    color: black;
}

.modo-escuro ul :hover {

    background-color: gray;
}

.modo-claro ul :hover {
    background-color: #ebebeb;
}

.interruptor {
    color: inherit;
    position: fixed;
    top: 5px;
    right: 10px;
    display: inline-block;
    z-index: 1000;
    cursor: pointer;
    padding: 10px;


}

.home {
    color: inherit;
    position: fixed;
    top: 5px;
    left: 10px;
    display: inline-block;
    z-index: 1000;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;

}

.modo-escuro input {
    background-color: #ebebeb;
}