a,
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  cursor: pointer;
}

body {
    /* margin: 0; */
    padding: 0;
    margin-top: 3rem ;
    margin-left: 1rem;
}


img {
width: 100%;
/* height: 100%; */
scale: 2;
position: fixed;
border-radius: 10px ;
margin-left: 15rem;
margin-top: 4.5rem;
/* padding: 10rem; */
z-index: -100;
/* cursor: pointer; */
display: block;
}


