a,
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  cursor: pointer;
}

img:hover {
  opacity: 100%;
}


.mario {
  border-radius: 15px;
  width: 150px;
  height: 212px;
  margin: 1.4rem;
  margin-top: 3rem;
  opacity: 40%;
}

.emerald {
  border-radius: 15px;
  width: 150px;
  height: 212px;
  margin: 1.4rem;
  margin-top: 3rem;
  opacity: 40%;
}



.brickbreaker {
  border-radius: 15px;
  width: 150px;
  height: 212px;
  margin: 1.4rem;
  margin-top: 3rem;
  opacity: 40%;
}

.pong {
  border-radius: 15px;
  width: 150px;
  height: 212px;
  margin: 1.4rem;
  margin-top: 3rem;
  opacity: 40%;
}

.snake {
  border-radius: 15px;
  width: 150px;
  height: 212px;
  margin: 1.4rem;
  margin-top: 3rem;
  opacity: 40%;
}