body {
  background-color: rgb(27, 27, 27);
  display: inline-table;
  margin: 0;
  padding: 0;
  background-image: url(../assets/background.png) ;
  background-size: 100% ;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a,
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  cursor: pointer;
}

img:hover {
  opacity: 100%;
}


.mario {
  border-radius: 15px;
  width: 150px;
  height: 212px;
  margin: 1.4rem;
  margin-top: 3rem;
  opacity: 40%;
  border: 0.4px solid whrgb(89, 0, 255)
}

.emerald {
  border-radius: 15px;
  width: 150px;
  height: 212px;
  margin: 1.4rem;
  margin-top: 3rem;
  opacity: 40%;
}



.brickbreaker {
  border-radius: 15px;
  width: 150px;
  height: 212px;
  margin: 1.4rem;
  margin-top: 3rem;
  opacity: 40%;
  border: 2px solid white;
}

.pong {
  border-radius: 15px;
  width: 150px;
  height: 212px;
  margin: 1.4rem;
  margin-top: 3rem;
  opacity: 40%;
  border: 0.4px solid white;
}

.snake {
  border-radius: 15px;
  width: 150px;
  height: 212px;
  margin: 1.4rem;
  margin-top: 3rem;
  opacity: 40%;
  border: 0.4px solid rgb(167, 167, 167);
}

