a,
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  cursor: pointer;
}


.mario {
  border-radius: 15px;
  width: 150px;
  margin: 1.4rem;
  margin-top: 3rem;
  opacity: 40%;
}

.emerald {
  width: 150px;
  height: 212px;
  margin: 1.4rem;
  margin-top: 3rem;
  border-radius: 15px;
  opacity: 40%;
}

img:hover {
  /* border: 1px solid rgb(255, 0, 0); */
  opacity: 100%;
}