 body {
     background-color: black;
     color: white;
 }


 .numeros {
     font-size: 2rem;
     border: 1px solid rgb(0, 0, 0);
     border-radius: 10rem;
     padding: 2rem;
     color: #ffffff;
     width: 10px;
     height: 10px;
     justify-content: center;
     align-items: center;
     display: flex;
     background-color: rgb(97, 87, 87);
 }

 .linha {
     display: flex;
     justify-content: center;

 }

 .linha0 {
     display: flex;
     justify-content: center;
 }

 .display {
     display: flex;
     justify-content: center;

 }

 .operador {
     margin-left: 2rem;
     background-color: yellowgreen;
     display: flex;
     justify-content: center;
 }

 .clear {
     display: flex;
     justify-content: center;
     background-color: orange;
     text-align: center;
     margin: 0 auto;
     width: 16.8rem;
     height: 2.5rem;
     border-radius: 100px;

     margin-top: 15px;
 }


 .limpar {
     border-radius: 100px;
     background-color: inherit;
     border: none;
     padding-left: 50%;
     padding-right: 50%;
     color: white;
     text-align: center;
     cursor: pointer;
     ;
 }

 button {
     cursor: pointer;
 }